
footer {
    background-color: #525252;
    color: #fafafa;
}
.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;

}
.social-links li a i:hover {
    background: #e84610;
}
#personal,#about{
    background-attachment: fixed;
    background-image: url('../images/background.png');
    background-position: bottom;
    background-size:auto;
}

.icon{
          display: block;
  margin: auto;
  width: 25%;
}
.me{
    display: block;
  margin: auto;
}
.card-title{
text-align: center;
}
.footer{
  text-align: center;  
}

.title{
    text-align: center;
    font-weight: bold;
    
}
.my-title{
  background-image: url('../images/blue_wall.png');
    background-attachment: fixed;
      background-position: center center;;
    background-size:initial; 
color: #fafafa;
}
.value{
    text-align: center;
}
.key{
font-weight: bold;
  text-align: left;
}
p{
    text-align: center;
}