footer {
    background-color: #525252;
    color: #fafafa;
}
.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;

}
.social-links li a i:hover {
    background: #e84610;
}
.myself{
     background-image: url('/images/Myself.jpg');    
    background-position: center;
}
.background-image{
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
}